<div class="container">
  <div class="menu-item" *ngFor="let menuItem of menuItems; index as i">
    <div
      (click)="onIconClicked(i + 1)"
      [routerLink]="menuItem.mainMenu"
      class="icon"
      [style.backgroundColor]="
        i + 1 === ($selectedMenuIndex | async) ? '#aa977e' : 'bisque'
      "
    >
      <mat-icon>{{ menuItem.icon }}</mat-icon>
    </div>
    <div
      (click)="titleClicked(i + 1)"
      [routerLink]="menuItem.mainMenu"
      [style.width.px]="($expandSidenav | async) ? 255 : 0"
      class="main-menu"
      [style.backgroundColor]="
        i + 1 === ($selectedMenuIndex | async) ? '#aa977e' : '#e0c5a3'
      "
    >
      <p>{{ menuItem.mainMenu }}</p>
      <div style="flex: 1;"></div>
      <mat-icon
        class="arrow"
        [style.transform]="
          i + 1 === ($selectedMenuIndex | async) &&
          ($expandSub | async) &&
          ($expandSidenav | async)
            ? 'rotate(90deg)'
            : 'rotate(0)'
        "
        style="margin-right: 29px;"
        >keyboard_arrow_right</mat-icon
      >
    </div>
    <div class="cell-filler"></div>
    <div
      [style.width.px]="($expandSidenav | async) ? 255 : 0"
      class="main-menu"
    >
      <div
        @subMenus
        style="width: 100%;"
        *ngIf="
          ($selectedMenuIndex | async) === i + 1 &&
          ($expandSub | async) &&
          ($expandSidenav | async)
        "
      >
        <div
          [routerLink]="[menuItem.mainMenu, subMenu]"
          *ngFor="let subMenu of menuItem.subMenus"
          class="sub-menus"
        >
          {{ subMenu }}
        </div>
      </div>
    </div>
  </div>
  <div class="menu-item" style="flex: 1;">
    <div class="icon"></div>
    <div
      [style.width.px]="($expandSidenav | async) ? 255 : 0"
      class="main-menu"
    ></div>
  </div>
</div>
