<form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)" class="form-layout">
  <div class="logbox">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      ngModel
      autocomplete="on"
      required
    />
    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      name="password"
      ngModel
      autocomplete="on"
      required
    />
    <code
      *ngIf="loginform.invalid"
      style="color: rgb(230, 108, 38); align-self: center;"
      >There is something Wrong</code
    >
    <div class="btn-group">
      <button class="btn green">Login</button>
      <button type="button" class="btn red" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
