<app-edit-menu
  class="modal edit"
  *ngIf="editMenu"
  [menuItems]="menuItems"
  (closeForm)="editMenu = !editMenu"
></app-edit-menu>
<app-login class="modal" *ngIf="loginDiag"></app-login>
<app-navigation
  [menuItems]="menuItems"
  (showLogin)="loginDiag = !loginDiag"
  (showEditMenu)="editMenu = !editMenu"
></app-navigation>
<div
  class="main-content"
  [style.padding-left.px]="pushMainContent && ($expand | async) ? '309' : '54'"
>
  <app-active-route [$currentUrl]="$currentUrl"></app-active-route>
  <router-outlet></router-outlet>
</div>
