<app-edit-menu
  class="backDrop edit"
  *ngIf="editMenu"
  [menuItems]="menuItems$ | async"
  (closeForm)="editMenu = !editMenu"
></app-edit-menu>
<app-login
  class="backDrop"
  *ngIf="loginDiag"
  (cancel)="loginDiag = false"
  (submitted)="onLogin($event)"
></app-login>
<app-navigation
  (showLogin)="loginDiag = !loginDiag"
  (showEditMenu)="editMenu = !editMenu"
></app-navigation>
<div
  class="main-content"
  [style.padding-left.px]="
    pushMainContent && (expandSidenav$ | async) ? '309' : '54'
  "
>
  <app-added-to-cart
    (click)="backDropClicked()"
    *ngIf="(showAdded$ | async).item"
    [itemAdded]="showAdded$ | async"
  ></app-added-to-cart>
  <app-active-route [currentUrl$]="currentUrl$"></app-active-route>
  <!-- <button class="btn green" (click)="onClick()">Ale La</button> -->
  <router-outlet></router-outlet>
</div>
