<p>
  123456 789//// //ALELELEL ELALA,///// ///////// //////consec tetur a augue,
  imperdiet a risus sed, viverra consectetur sem. Praesent porttitor libero
  vitae vestibulum euismod. Ut id feugiat lectus. Donec id pulvinar sem.
  Suspendisse hendrerit arcu auctor turpis dapibus, scelerisque sollicitudin
  lacus porttitor. Proin bibendum justo iaculis turpis pharetra mattis. Integer
  dignissim, ipsum vel lacinia euismod, m subcontent works!
</p>
<h2>{{ data | json }}</h2>
<youtube-player
  style="display: flex; justify-content: center; margin-top: 25px;"
  videoId="2iiLOO5qwI0
"
></youtube-player>
