.container {
  height: 85vh;
  width: 65vw;
  padding: 30px;
  border-radius: 80px;
  background-color: #ccc8c0;
  box-shadow: -37px 40px 70px 20px black;
}

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

label {
  margin-top: 10px;
  font-weight: 500;
}

input,
select {
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #8b7657;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.drop-down {
  width: 60px;
}
