<div class="container">
  <form
    [formGroup]="editMenuForm"
    (ngSubmit)="onSubmit(editMenuForm)"
    class="form-layout"
  >
    <h3 style="align-self: center;">
      {{ selectedMain.value ? 'Edit : ' : 'Add'
      }}{{ selectedMain.value?.mainMenu }}
    </h3>
    <label for="mainMenu">MainMenu</label>
    <input id="mainMenu" formControlName="mainMenu" required />
    <select
      id="mainMenu"
      ngModel
      #selectedMain="ngModel"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let menuItem of menuItems" [ngValue]="menuItem">{{
        menuItem.mainMenu
      }}</option>
    </select>
    <label for="icon">Icon</label>
    <input id="icon" formControlName="icon" required />
    <label for="subMenusNo">SubMenus No.</label>
    <select
      class="drop-down"
      id="subMenusNo"
      [ngModel]="0"
      #subMenusNo="ngModel"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let i of [0, 1, 2, 3, 4, 5]" [ngValue]="i">{{
        i
      }}</option>
    </select>
    <label for="subMenu">SubMenu</label>
    <div formArrayName="subMenus">
      <input
        *ngFor="let subMenu of subMenus.controls; index as i"
        [formControlName]="i"
        type="text"
        id="subMenu"
        required
      />
    </div>
    <div class="btn-group">
      <button class="btn green">
        {{ selectedMain.value ? 'Edit' : 'Add' }}
      </button>
      <button type="button" class="btn red" (click)="closeForm.emit()">
        Cancel
      </button>
    </div>
  </form>
</div>
