/* You can add global styles to this file, and also import other style files */
// @import "./my-theme.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

:root {
  --main-color: rgb(83, 83, 78);
  --sidenav-color: #e0c5a3;
  --highLight-color: #aa977e;
}

body {
  background-color: var(--main-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 52px);
  margin-top: 52px;
  background: rgb(49, 46, 46, 0.4);
}

.divider {
  flex: 1;
  border-bottom: 1px solid black;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  // width: 69px;
}

.btn.green {
  background-color: #476d72ef;
}

.btn.red {
  background-color: rgba(226, 35, 35, 0.986);
}
