/* You can add global styles to this file, and also import other style files */
// @import "./my-theme.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(83, 83, 78);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.divider {
  flex: 1;
  border-bottom: 1px solid black;
  width: 100%;
}
