.side-nav-exp {
  background-color: rgb(224, 197, 163);
  margin-top: 54px;
  height: calc(100vh - 54px);
  width: 255px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

p {
  line-height: 24px;
}
